asgiref==3.2.3
Django==2.2.5
django-cors-headers==3.1.1
django-crispy-forms==1.8.1
django-tempus-dominus==5.1.2.9
djangorestframework==3.11.0
mysqlclient==1.4.6
Pillow==7.0.0
pytz==2019.3
sqlparse==0.3.0
