{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags  %}

{% block css %}
{{ form.media }}
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock  %}

{% block title %}
    Añadir Nueva Solicitud
{% endblock  %}

{% block subtitle %}
    <h3>Añadir Nueva Solicitud</h3>
{% endblock %}

{% block content %}
<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Añadir Nueva Solicitud</h3>
      </div>
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {% if message.tags %} {% endif %}{{ message }}
        {% endfor %}
      </div>
      {% endif %}
      <!-- /.card-header -->
      
      <!-- form start 
      <form role="form" method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                {{ form.fecha|as_crispy_field}}
                {{ form.profesor|as_crispy_field}}
              </div>
              <div class="col-md-4">
                {{ form.hora_inicio|as_crispy_field}}
                {{ form.materia|as_crispy_field}}
              </div>
              <div class="col-md-4">
                {{ form.hora_fin|as_crispy_field}}
                {{ form.lugar|as_crispy_field}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{ form.materiales|as_crispy_field}}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table id="mate" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Material</th>
                      <th>Existencia</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for material in materiales %}
                      <tr>
                        <td>{{ material.nombre }}</td>
                        <td>{{ material.stock }}</td>
                        <td><input class="form-control" type="number" name="cantidad" id="id_cantidad" size="40"/></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Añadir</button>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </form>-->
    </div>
  <!-- /.card -->
  </div>
</div>
{% endblock  %}

{% block js %}
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.js'%}"></script>
<script>
  $(function () {
    $('#mate').DataTable({
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
      language: {
        url: 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
      },
      url: '/api/materiales/listar/',
      type : 'GET'
    });
    
    $.ajax({
      url : "/api/materiales/listar/?format=json",
      method : "GET",
      success : function (data) {
		  }
    });
  });
</script>
{% endblock  %}