{% extends 'base.html' %}
{% load static %}

{% block css %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock  %}

{% block title %}
    Lista de Solicitudes
{% endblock  %}

{% block subtitle %}
    <h3>Lista de Solicitudes</h3>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="col-12">
      <div class="card-header">
        <h3 class="card-title">Lista de Solicitudes</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="mate" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Estatus</th>
              <th>Materia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for solicitud in solicitudes %}
            <tr>
              <td>{{ solicitud.id }}</td>
              <td>{{ solicitud.fecha }}</td>
              <td>{{ solicitud.estatus }}</td>
              <td>{{ solicitud.materia }}</td>
              <td>
                <a href="#"><button type="button" class="btn btn-info"><i class="fas fa-eye"></button></a></i>
                <a href="{% url 'edit_solicitudes' pk=solicitud.id %}"><button type="button" class="btn btn-warning"><i class="far fa-edit"></button></a></i> 
                <a href="#"><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></button></a></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock  %}

{% block js %}
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.js'%}"></script>
<script>
  $(function () {
    $('#mate').DataTable({
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: false,
      info: true,
      autoWidth: false,
      responsive: true,
      url: '/api/solicitudes/listar/',
      type : 'GET'
    });
    
    $.ajax({
      url : "/api/solicitudes/listar/?format=json",
      method : "GET",
      success : function (data) {
		  }
    });
  });
</script>
{% endblock  %}