{% extends 'base.html' %}
{% load static %}

{% block css %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock  %}

{% block title %}
    Lista de Materias
{% endblock  %}

{% block subtitle %}
    <h3>Lista de Materias</h3>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="col-12">
      <div class="card-header">
        <h3 class="card-title">Lista de Materias</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="mate" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for materia in materias %}
            <tr>
              <td>{{ materia.nombre }}</td>
              <td>{{ materia.clave }}</td>
              <td>
                <a onclick="return abrir_modal('{% url 'read_materias' pk=materia.id %}')"><button type="button" class="btn btn-info"><i class="fas fa-eye"></button></a></i>
                <a href="{% url 'edit_materias' pk=materia.id %}"><button type="button" class="btn btn-warning"><i class="far fa-edit"></button></a></i> 
                <a href="#"><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></button></a></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="popup" class="modal" tabindex="-1" role="dialog">

  </div>
{% endblock  %}

{% block js %}
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.js'%}"></script>
<script>

  function abrir_modal(url)
  {
    $('#popup').load(url, function()
    {
      $(this).modal('show');
    });
    return false;
  }

  function cerrar_modal()
  {
    $('#popup').modal('hide');
    return false;
  }

  $(function () {
    $('#mate').DataTable({
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: false,
      info: true,
      autoWidth: false,
      responsive: true,
      language: {
        url: 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
      },
      url: '/api/materias/listar/',
      type : 'GET'
    });
    
    $.ajax({
      url : "/api/materias/listar/?format=json",
      method : "GET",
      success : function (data) {
		  }
    });
  });
</script>
{% endblock  %}